<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.gardencatalog"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Garden Catalog"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".SeedDetails"></activity>
        <activity
            android:name=".GardenDetail"
            android:label="Details"
            android:parentActivityName=".GardenCatalog"></activity>
        <activity android:name=".GardenCatalog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>